# Ambiente virtual
venv/
.env/
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Build / dist (PyInstaller)
build/
dist/
*.spec

# VS Code
.vscode/
settings.json

# Arquivos do sistema
.DS_Store
Thumbs.db
